* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, Arial;
  background-color: #276EA3ff;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1170px;
}

/* Telas pequenas */
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.landing-page header {
  min-height: 80px;
  display: flex;
  align-items: center;
}

.landing-page header .logo img {
  max-height: 100px;
  width: auto;
  margin-left: -30px;
}

.landing-page header .links {
  display: flex;
  gap: 20px; 
}

.landing-page header .links a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
  transition: .3s;
}

.landing-page header .links li {
  margin: 0; 
}


.landing-page header .links a.active li,
.landing-page header .links a:hover li {
  background-color: #D82A2B;
  border-radius: 20px;
  padding: 10px;
  color: #FFF;
}

@media (max-width: 767px) {
  .landing-page header .links a {
    padding: 10px;
  }
}

.landing-page .content {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  gap: 40px; 
  min-height: calc(100vh - 80px);

}

.landing-page .content .info {
  text-align: center;
}

.landing-page .content .info h1,
.landing-page .content .info h2,
.landing-page .content .info p {
  color: #FFF;
}

.landing-page .content .info .inscricao-button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  margin-bottom: 20px; 
  cursor: pointer;
  color: #FFF;
  background-color: #D82A2B;
}

.landing-page .content .image {
  display: flex;
  justify-content: center;
  flex: 1;
}

.landing-page .content .image img {
  max-width: 100%;
  max-width: 600px;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

footer.site-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

footer.site-footer .container {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
}

footer.site-footer p {
  margin: 0 0 10px;
  font-size: 20px;
  color: #FFF;
}

footer.site-footer img {
  max-width: 100%;
  max-width: 700px;
  width: 100%;
  height: auto;
}

.social-media,
.email {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #FFF;
}

.social-media label,
.email label {
  margin-right: 10px;
}

.email a,
.social-media a {
  color: #FFF;
  text-decoration: none;
  transition: color 0.3s;
}

.email a:hover,
.social-media a:hover {
  color: #D82A2B;
}

@media (min-width: 768px) {
  .info {
    text-align: left !important;
  }
}
